__pycache__/
*.py[cod]
.vscode/
.tools/
.env
secrets/
openai_api_key.txt
3D-FRONT/
3D-FUTURE-model/
assets/
assets_feature/
assets_feature_hssd/
assets_feature_test1/
benchmark_tasks copy/
benchmarking/
hssd_render/
hssd_objects/
hssd-models/
input_cache_areas/
input_cache/
k8s/
objaverse/
package/
results*/
results_areas*/
test/
test_asset_dir/
test_full/
vis_output/
results_areas-qwen/
clip_model/
scene_synthesis/render/blender-4.4.3-linux-x64/
demo*.py
test*.txt
test*.py
text*.txt
main-backup.py
score*.py
down*.sh
download*.py

*.png
*.jpg
*.glb
raw*.obj
*.ipynb
assets_feature_hssd/
assets_feature/
